.unit-card-stats {
  grid-area: stats;
  background-color: #ddd;
  text-align: center;
  height: var(--stats-height);
  color: #444;
  font: 700 14px Orbitron, arial, serif;
  text-align: center;
  cursor: default;
  z-index: 1;
  padding-left: 3vw;
  display: grid;
  grid-template: "a a a a a a a a a" "b c c c c c c c c";
  box-shadow: -2px -2px 7px 0 #000;
}

.unit-card-stats::before {
  content: "";
  position: absolute;
  border-radius: 0 40% 40% 0;
  right: -2vw;
  background-color: #ddd;
  height: var(--stats-height);
  width: 3vw;
}

.unit-card-stats > div {
  transition: color 0.3s ease;
}

.unit-card-stats .failed {
  color: #c0392b;
}

.unit-card-stats .succes {
  color: #27ae60;
}

.unit-card-stats .failed img {
  filter: invert(34%) sepia(47%) saturate(2556%) hue-rotate(349deg)
    brightness(82%) contrast(79%);
}

.higher {
  rotate: 180deg;
}

.unit-card-stats div {
  display: flex;
  justify-content: center;
}

.unit-card-stats img {
  width: 20%;
  margin-top: -1.5vh;
}

.unit-card-stats div,
.unit-card-numbers div {
  width: 5vw;
  font-size: 1.3em;
  text-align: center;
}

@keyframes grow-shrink {
  0% {
    font-size: 1.3em;
  }

  50% {
    font-size: 1.5em;
  }

  100% {
    font-size: 1.3em;
  }
}
