.unit-card-stats {
    grid-area: stats;
    background-color: #ddd;
    text-align: center;
    height: var(--stats-height);
    color: #444;
    font: 700 14px Orbitron, arial, serif;
    text-align: center;
    cursor: default;
    z-index: 1;
    padding-left: 3vw;
    display: grid;
    grid-template: "a a a a a a a a a" "b c c c c c c c c";
    box-shadow: -2px -2px 7px 0 #000;
}

.unit-card-stats::before {
    content: '';
    position: absolute;
    border-radius: 0 40% 40% 0;
    right: -2vw;
    background-color: #ddd;
    height: var(--stats-height);
    width: 3vw;
}

.unit-card-stats div,
.unit-card-numbers div {
    width: 5vw;
}