.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner {
    width: 100vw;
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.header-element {
    margin-right: 2vw;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.logo {
    width: 5vw;
    margin-top: 2vh;
}

.logo.mockup {
    animation-name: apear;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.drawer {
    margin-top: 3vh;
}

@keyframes apear {
    from {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}