:root {
    --stats-height: 6vh;
}

.unit-card-logo {
    grid-area: logo;
    /* background-color: #777; */
    width: 8vw;
    text-align: center;
    z-index: 2;
    background-color: #7770;
    /* clip-path: polygon(0% 20%, 20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 80%); */
}

.unit-card-logo::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 8vw;
    clip-path: polygon(0% 15%, 30% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 85%);
    background-color: #777;
    height: 25vh;
}

.unit-card-logo img {
    margin-top: 5vh;
    width: 9vw;
    margin-left: 3vw;
    box-shadow: 18px 13px 22px black;
    border-radius: 50%;
}

/* .unit-card-logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 35px solid #242424;
    border-right: 35px solid #777;
}

.unit-card-logo::after {
    content: '';
    position: absolute;
    bottom: 3.8vh;
    left: 0;
    border-top: 35px solid #777;
    border-left: 35px solid #242424;
} */

.unit-card-name {
    grid-area: name;
    background-color: #7770;
    width: 55vw;
    text-align: center;
    font: 600 18px Source, sans-serif;
    padding: 3vh 0 2vh;
}

.unit-card-name:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 8vw;
    right: 0;
    bottom: 0;
    width: 55vw;
    clip-path: polygon(0% 0%, 95% 0%, 100% 12%, 100% 100%, 0% 100%);
    background-color: #777;
}

/* .unit-card-name:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 35px solid #242424;
    border-left: 35px solid #777;
} */

.unit-card-equipment {
    grid-area: equipment;
    background-color: #777;
    text-align: center;
}

.unit-card-equipment span,
.unit-card-skills span {
    position: sticky;
    z-index: 2;
    text-align: center;
}

.unit-card-skills {
    grid-area: skills;
    background-color: #777;
    text-align: center;
}

.unit-card-loadout {
    grid-area: loadout;
    background-color: #777;
    text-align: center;
}

.unit-card {
    display: grid;
    grid-template-areas:
        'logo logo name name name name'
        'logo logo stats stats stats stats'
        'logo logo numbers numbers numbers numbers'
        'logo logo equipment equipment equipment equipment'
        'logo logo skills skills skills skills'
        'logo logo empty empty empty empty'
        'nothing nothing loadout loadout loadout loadout';
}