:root {
    --stats-height: 6vh;
}

.unit-card-logo {
    grid-area: logo;
    background-color: #777;
    width: 8vw;
    text-align: center;
    z-index: 2;
}

.unit-card-logo img {
    margin-top: 5vh;
    width: 9vw;
    margin-left: 3vw;
    box-shadow: 18px 13px 22px black;
    border-radius: 50%;
}

.unit-card-logo:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 35px solid #242424;
    border-right: 35px solid #777;
}

.unit-card-logo::after {
    content: '';
    position: absolute;
    bottom: 4.8vh;
    left: 0;
    border-top: 35px solid #777;
    border-left: 35px solid #242424;
}

.unit-card-name {
    grid-area: name;
    background-color: #777;
    width: 50vw;
    text-align: center;
    font: 600 18px Source, sans-serif;
    padding: 3vh 0 2vh;
}

.unit-card-name:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 35px solid #242424;
    border-left: 35px solid #777;
}

.unit-card-stats {
    grid-area: stats;
    background-color: #ddd;
    text-align: center;
    height: var(--stats-height);
    color: #444;
    font: 700 14px Orbitron, arial, serif;
    text-align: center;
    cursor: default;
    z-index: 1;
}

.unit-card-stats::before {
    content: '';
    position: absolute;
    border-radius: 0 30% 0 0;
    right: -2vw;
    background-color: #ddd;
    height: var(--stats-height);
    width: 6vw;
}

.unit-card-numbers {
    grid-area: numbers;
    background-color: #ddd;
    text-align: center;
    height: var(--stats-height);
    color: #444;
    font: 700 14px Orbitron, arial, serif;
    text-align: center;
    cursor: default;
    z-index: 1;
    box-shadow: 20px 20px 18px #00000050;
}

.unit-card-numbers::before {
    content: '';
    position: absolute;
    border-radius: 0 0 30% 0;
    right: -2vw;
    background-color: #ddd;
    height: var(--stats-height);
    width: 6vw;
}

.unit-card-equipment {
    grid-area: equipment;
    background-color: #777;
    text-align: center;
}

.unit-card-skills {
    grid-area: skills;
    background-color: #777;
    text-align: center;
}

.unit-card-loadout {
    grid-area: loadout;
    background-color: #777;
    text-align: center;
}

.unit-card {
    display: grid;
    grid-template-areas:
        'logo logo name name name name'
        'logo logo stats stats stats stats'
        'logo logo numbers numbers numbers numbers'
        'logo logo equipment equipment equipment equipment'
        'logo logo skills skills skills skills'
        'logo logo empty empty empty empty'
        'nothing nothing loadout loadout loadout loadout';
}