.loading-logo {
    width: 25vw;
}

.loading-text {
    font: 700 6vw Orbitron, arial, serif;
    color: #a4a4a4;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

:not(.fake).loading-logo {
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

:not(.fake).loading-text span:nth-child(1) {
    animation-name: disappear-children-1;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

:not(.fake).loading-text span:nth-child(2) {
    animation-name: disappear-children-2;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

:not(.fake).loading-text span:nth-child(3) {
    animation-name: disappear-children-3;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes disappear-children-1 {
    70% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }

}

@keyframes disappear-children-2 {
    80% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear-children-3 {
    90% {
        opacity: 0%;
    }

    100% {
        opacity: 1;
    }
}