.player-section {
    display: flex;
    height: 12vh;
}

.player-section div {
    height: 100%;
    width: 36%;
    display: flex;
}

.player-buttons {
    /* padding-left: 5%; */
}

.gameUI {
    pointer-events: none;
    height: 5vh;
    width: 23vw;
    padding-left: 1vw;
    display: flex;
}

.gameUI-health,
.gameUI-accuracy {
    width: 50%;
    height: 100%;
    display: flex;
}

.gameUI-health {
    margin-right: 25px;
}

.gameUI-health img,
.gameUI-accuracy img {
    width: 33%;
    height: 50%;
    margin-top: 0.8vh;
    image-rendering: pixelated;
}

.gameUI-health img {
    margin-right: 10px;
}

.gameUI-accuracy-text {
    padding-top: 2.5vh;
    padding-left: 0.8vw;
}

.hint-button {
    margin-left: 5%;
}