.player-section {
    display: flex;
    height: 12vh;
}

.player-section>div {
    height: 100%;
    width: 36%;
    display: flex;
}

.gameUI {
    pointer-events: none;
    height: 5vh;
    width: 23vw;
    padding-left: 1vw;
    display: flex;
}

.gameUI-health,
.gameUI-accuracy {
    width: 36%;
    height: 100%;
}

.gameUI-accuracy {
    display: none;
}

.gameUI-health {
    margin-right: 25px;
    display: flex;
}

.gameUI-health img,
.gameUI-accuracy img {
    width: 33%;
    height: 50%;
    margin-top: 0.8vh;
    image-rendering: pixelated;
}

.gameUI-health img {
    margin-right: 10px;
}

.gameUI-accuracy-text {
    padding-top: 2.5vh;
    padding-left: 0.8vw;
}

.hint-button {
    margin-left: 5%;
}

.health-lost {
    animation-name: disapear;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes disapear {
    from {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}